#bt2
{
	border-radius: 10px;
	height: 65px;
}
h1
{
	font-weight: bolder;
}
.left
{
  float: center;
  width: 55%;
 margin-left: 280px;
}
/*.right
{
	float: right;
	width: 40%;
	padding-left: 20px;
}*/
.navbar
{
	margin-bottom: 0px;
}
.top
{
	margin-top: 0px;
}
.an
{
	font-size:30px;
	text-decoration: none;
	color: black;
	margin: 75px;
}
.bottom
{
	margin:none;
	float: left;
}
img
{
	object-fit: cover;
}
.aa
{
  color: white;
  margin-top:14px;
}
.card
{
background-color: white;
color: black;
opacity: 0.9;
-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
box-shadow: -1px 9px 40px -12px rgba(1,1,1,0.75);
}

#first
{
	padding-left: 50px;
}
.card.colo-md-4
{
	width: 300px;
	height: 350px;
}
.card-body
{
	float: center;
}
.card-img-top
{
	width:250px;
	height:250px;
	float: left;
}
.footer
{
	color:gray;
	text-align: center;
	justify-content: center;
}
.chat
{
	float: right;
}
#bt
{
	border-radius: 80px;
	height: 65px;
}
body
{
 background-color: black;
 color: white;
}