.navbar
{
	margin-bottom: 0px;
}
.top
{
	margin-top: 0px;
}
.an
{
	font-size:30px;
	text-decoration: none;
	color: black;
	margin: 75px;
}
img
{
	object-fit: cover;
}
.aa
{
  color: white;
  margin-top:14px;
}
.card:hover
{
-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
#first
{
	padding-left: 50px;
}
.card.colo-md-4
{
	width:250px;
	height:400px;
}
.card-img-top
{
	width:250px;
	height:200px;
}
.footer
{
	color:gray;
	text-align: center;
	justify-content: center;
}
.chat
{
	float: right;
}
#bt
{
	border-radius: 80px;
	height: 65px;
}
body
{

}