.top
{
	margin-top: 0px;
}
#women a,#men a,#cloth a,#kids a,#shoes a,#miss a,#access a
{
	color:black;
	text-decoration: none;
}
#c
{
	float: left;
}
#w
{
	float: right;
}
img
{
	object-fit: cover;
}
.aa
{
  color: white;
  margin-top:14px;
}
.card:hover
{
-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
#first
{
	padding-left: 50px;
}
.desc
{
	width: 300px;
	height: 400px;
}
#ab
{
	margin-left: 0px;
}
.card.colo-md-4
{
	width:250px;
	height:400px;
}
.rightc
{
	margin-left: 350px;
	margin-top: 70px;
	width: 300px;
	height: 300px;
}
.leftc
{
	float: left;
	width: 300px;
	height: 300px;
}
.card-img-top
{
	width:250px;
	height:200px;
}
.footer
{
	color:gray;
	text-align: center;
	justify-content: center;
}
.chat
{
	float: right;
}
#bt
{
	border-radius: 80px;
	height: 65px;
}
body
{

}