
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: :300;
	background: #181818;
	color: white;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 300;
}

#wrapper{
	display: flex;
	flex-direction: row;
}

#left{
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
/*sign in*/
#signin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding-bottom: 1rem; 
}

#signin form{
	width: 80%;
	padding-bottom: 3rem;
}

#signin .logo{
	margin-bottom: 8vh;
}

#signin .logo img{
	width: 300px;

}

#signin label{
	font-size: 0.9rem;
	line-height: 2rem;
	font-weight: 500;
}

#signin .text-input {
	margin-bottom: 1.3rem;
	width: 100%;
	border-radius: 2px;
	background: #181818;
	border: 1px solid #555;
	color: #ccc;
	padding: 0.4rem 1rem;
	line-height: 1.3rem;
}

/*media queries*/
/*@media (min-width: 1200px){
	#left{
		flex: 4;
	}

	#right{
		flex: 6;
	}
}
*/
/*button*/

.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}

.primary-btn:hover {
  background-color: #ff7b39;
}


#signin .primary-btn{
	width: 100%;
}

#signin .secondary-btn, .or, .links {
	width: 60%;
}

#signin .links a {
	display: block;
	color: white;
	text-decoration: none;
	margin-bottom: 1rem;
	
	text-align: center;
	font-size: 0.9rem;
}

#signin .or{
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	align-items: center;
}

#signin .or .bar{
	flex:auto;
	border: none;
	height: 1px;
	background:#aaa;
}

#signin .or span{
	color: #ccc;
	padding: 0 0.8rem;
}


#right{
	flex: 1;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
#main-footer{
	color:#ccc;
	text-align: center;
	font-size: 0.8rem;
	max-width: 80%;
	padding-top: 2rem;
}
#main-footer a{
	color: #f96816;
	text-decoration: underline;
}

.secondary-btn:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}
#showcase
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}
#showcase .showcase-text{
	font-size: 3rem;
	width: 100%;
	color: white;
	margin-bottom: 1.5rem;
}
/* Media Queries */
@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  #right {
    display: none;
  }

  #left {
    justify-content: start;
    margin-top: 4vh;
  }

  #signin .logo {
    margin-bottom: 2vh;
  }

  #signin .text-input {
    margin-bottom: 0.7rem;
  }

  #main-footer {
    padding-top: 1rem;
  }
}
